<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blog </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
   
</head>
<body>
    <h1>Chat Bot</h1>
    <div>
         <div id="chatbot">
             <p class="botText"> <span>Hi There</span></p>
         </div>
         <div id="userInput">
              <input type="text" id="textInput" name="userMassage" placeholder="Type your message">
              <form method="">
                  <button id='send' type="button" > Send</button>
              </form>
         </div>
    </div>   
     <script>
        var intrupt=false
        var introDisplay=true;
        setTimeout(dispalyon, 10000);
        var waitid
        function  getUserResponse(){
            intrupt=true
            waitForNextDispaly()

            var userTest=$('#textInput').val();
            var userHTML= " <div class='userText'> <p class='userconatiner'>"+userTest+"</p></div>"

           // var userHTML= " <button class='userText'>User : <span>"+userTest+"</span></button>";
            $('#textInput').val("");
            $("#chatbot").append(userHTML);
            $.get('/chatbot/getResponse',{userMessage:userTest}).done(function(data){
                    var buttonMaasage=""
                     if(data=="hi, there"||data=="hi,Mathew"){
                        intervalrespose()
                     }
                     else{
                        intrupt=true;
                        introDisplay=true;
                         try{
                            div=""
                            let x= setupall(JSON.parse(data),div);
                            div="<div class='mydiv'>"+x+("</div>")
                            $("#chatbot").append(div) ;
                        
                        }catch(err){
                                buttonMaasage="<p class='botText'>Chatbot: <span>"+data+"<span/></p>"
                                    $("#chatbot").append(buttonMaasage);
                        }
                        
                    }   
            })
            
        }

        
        

        $("#send").click(function(){
            getUserResponse();
        })
        $("#textInput").keydown(function(e){
            if(e.keyCode == 13){
                getUserResponse();
              }
          });

        $("#chatbot").on("click","button.massgeBtn",function(p){
            intrupt=true
            waitForNextDispaly()
            console.log("Massage btn click")
            var query=$(this).text();
            $.get('/chatbot/specialQuery',{specialQuery:query}).done(function(data){
                div=""
                    let x= setupall(JSON.parse(data),div);
                    console.log(x)
                    div="<div class='mydiv'>"+x+("</div>")
                    $("#chatbot").append(div) ;
                    
            })
            
        })
        
        

        function myFunction(event) {
            event.preventDefault();
            var name = event.target.getAttribute('name');
            console.log(name)
            var buttonText = event.target.textContent;
            console.log(buttonText)
            $.get('/chatbot/getResponse',{userMessage:name+buttonText}).done(function(data){
                div=""
                let x= setupall(JSON.parse(data),div);
                div="<div class='mydiv'>"+x+("</div>")
                $("#chatbot").append(div) ;
            })  
           
          }
        function handlarray(data,type,name){
            x=""
            if(typeof data[0]=="object"){
                  Object.keys(data[0]).forEach(function(key) {
                    x=x+"<"+type+" name='"+name+"' >"+key+":"+data[0][key]+"</"+type+">"
                  
                  })
            }
            else if(type=="button"){
                for(let i=0;i<data.length;i++){
                    console.log("-->"+name)
                    x=x+"<button class='infobtn' name='"+name+"' type='submit' onclick='myFunction(event)' >"+data[i]+"</button>"
                   
                }
            }
            return x
        } 

        function setupall(data,div){
            name=data.type
            Object.keys(data).forEach(function(key) {
                if(Array.isArray(data[key])){
                        div= div+handlarray(data[key],key,name) 
                }
                else{
                    if(key=='h1'||key=="h2"|key=="h3"||key=="p"){
                        massage="<"+key+">"+data[key]+"</"+key+">"
                        div=div+(massage)
                    }
                    else if(key=="a"){
                        massage="<a href="+data[key]+">"+data[key]+"</a>"
                        div=div+(massage)
                    }
                    else if(key=="img"){
                        massage= "<img src="+data[key]+"alt=''>"
                        div=div+(massage)
                    }  
                }
              })
              return div;
        }


        function intervalrespose(){
            buttonMaasage="<p class='botText'>Chatbot: <span>Hi What are you looking for, <span/></p> <button class='massgeBtn' type='submit' >event</button><button class='massgeBtn' type='submit'>Collage info</button><button class='massgeBtn' type='submit'>Department</button><button class='massgeBtn' type='submit'>Admmision</button><button class='massgeBtn' type='submit'>Scholarship</button>"
                $("#chatbot").append(buttonMaasage);
        }
      
      
      function dispalyon(){
        if(introDisplay){
            introDisplay=false;
            intrupt=false;
            intervalrespose();
        }
      }  
     
      function waitForNextDispaly(){
          if(intrupt){
            clearTimeout(waitid);
            introDisplay=true;
            waitid= setTimeout(dispalyon, 20000)
          }
         
      }
       </script>
</body>
</html>