<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/dashbord.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  
  </head>
  <body>
    <div class="d-md-flex h">
      <div id="mySidenav" class="sidenav col-xl-2 col-md-3 bg-dander">
        <a href="{% url 'allevent'  %}" onclick="showevent()"
          ><i class="bi bi-cloud-plus-fill fs-lg-5 me-1"></i> Show Event</a
        >
        <a href="{% url 'Addevent'  %}" onclick="uploadpage()"
          ><i class="bi bi-cloud-plus-fill fs-lg-5 me-1"></i> Add Event</a
        >
        <a href="{% url 'collageinfo'  %}"
          ><i class="bi bi-cloud-plus-fill fs-lg-5 me-1"></i> Add College
          info</a
        >
        <a href="{% url 'admission'  %}">
          <i class="bi bi-chat-left-text-fill fs-lg-5 me-1"></i> Admission</a
        >
        <a href="{% url 'department'  %}">
          <i class="bi bi-chat-left-text-fill fs-lg-5 me-1"></i> Department</a
        >
        <a href="{% url 'scholership'  %}" 
          ><i class="bi bi-person-circle fs-lg-5 me-1"></i> Schoarship</a
        >
        <a href="#" onclick="committees()"
          ><i class="fa-solid fa-unlock-keyhole fs-lg-5 me-1"></i> Club And
          committees</a
        >
        <a href="{% url 'placement'  %}" >
          <i class="fa-solid fa-trash fs-lg-5 me-1"></i> Placement</a
        >
        <a href="{% url 'logout'  %}" ><i class="bi bi-box-arrow-right fs-lg-5 me-1 fw-semibold"></i>
          Logout</a>
      </div>

      <!-- upload Property -->
      <div class="delete w-100" id="EditProfile">
        <div class="fs-1 fw-semibold px-5">Scholership</div>
        <div
          class="d-flex flex-column m-2 mx-md-5 p-5 rounded"
          style="background-color: #ebe9e9"
        >
          <form class="row g-3" method="post" action="/chatbot/scholership/">
            {% csrf_token %}
            <div class="col-md-6">
              <label for="inputlastname" class="form-label"
                >Scholarship Name
              </label>
              <select
                class="form-select"
                aria-label="Default select example"
                name="scholarship_name"
              >
                <option selected>None</option>
                <option value="Post-Matric Scholarship">Post-Matric Scholarship</option>
                <option value="Rajarshi Chhatrapati Shahu Maharaj Merit Scholarship">Rajarshi Chhatrapati Shahu Maharaj Merit Scholarship</option>
                <option value="Merit-cum-Means Scholarship">Merit-cum-Means Scholarship</option>
                <option value="Pragati Scholarship Scheme for Girls">Pragati Scholarship Scheme for Girls</option>
                <option value="Dr. Punjabrao Deshmukh Vasatigruh Nirvah Bhatta Yojana">Dr. Punjabrao Deshmukh Vasatigruh Nirvah Bhatta Yojana</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputlastname" class="form-label"
                >Documents Required ("Ctrl" key + click)</label
              >
              <br>
              <select multiple class="col-md-6" name="scholarship_documents">
              
                <option value=" income certificate"> income certificate</option>
                <option value="caste certificate">caste certificate</option>
                <option value=" previous year's mark sheet"> previous year's mark sheet</option>
                <option value="bank account details">bank account details</option>
                <option value="passport size photograph">passport size photograph</option>
                <option value="minority community certificate">minority community certificate</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputlastname" class="form-label">Contact to</label>
              <input type="number" min="0" name="scholarship_contact" class="form-control" id="" />
            </div>


         
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Scholarship Discription </label>
              <textarea class="form-control" name="scholarship_dsiscription"  id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>

            <div class="">
              <button
                type="submit"
                class="delete-btn btn btn-warning py-md-3 px-md-4 fs-0"
              >
                Save Event
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
   

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
   
  </body>
</html>
