
#chatbot{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 12px;
    border: 2px solid gray;
    padding: 10px;
    
}

.botText{
    font-family: monospace;
    font-size: 14px;
    text-align:left;
    line-height: 25px;
    color: rgb(66, 66, 66);
}
#userInput{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 70%;
    text-align: center;
}
#textInput{
    border:3px solid white;
    border-bottom:3px solid #afafaf;
    font-family: monospace;
    font-size: 14px;
    width: 60%;
    color: rgb(255, 102, 0);
}
.massgeBtn{
    padding: 8px;
    font-family: monospace;
    font-size: 14px;
    width: auto;
    border:2px solid #ffb8ac;
    background-color: #ffe5d9;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.infobtn{
    padding: 8px;
    font-family: monospace;
    font-size: 14px;
    width: auto;
    border:2px solid #ffb8ac;
    background-color: #ffe5d9;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: 5px;
}
#send{
    padding: 8px;
    font-family: monospace;
    font-size: 15px;
    border: 2px solid #7c7c7c;
    background-color: rgb(230 230 230);
    color: rgb(34, 103, 117);
    border-radius: 8px;
}



.userconatiner{
    font-family: monospace;
    font-size: 14px;
    line-height: 25px;
    padding: 8px;
    border: 2px solid #ffb8ac;
    background-color: #ffe5d9;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: 5px;
    width: auto;
    display: inline-block;
    text-align: right;
}
.mydiv{
    background-color: #fff2f0;
    border: 2px solid #ffd3cd ;
    border-radius: 20px;
    width: 60%;
    padding: 20px;
    margin: 10px 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.mydiv h2{
    border-bottom: 4px solid #e9c3bc;
}
h1{
    font-family: monospace;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #666161 ;
}
h3{
    font-family: monospace;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #666161 ;
}

.userText{
    text-align: right;
}